<h1>Class & Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name">
<p class="message-error" [class.active]="nameInput2.invalid">El campo es requerido</p>
<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name">
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">texto texto</p>

<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg">
  </div>
  <div>
    <img [style.width.px]="widthImg" [src]="person.avatar" alt="">
  </div>
</div>

<hr>
<h1>[ngSwitch] </h1>
<input type="text" required [(ngModel)]="person.name">
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Brisa'">La persona es Brisa</p>
  <p *ngSwitchCase="'Sophie'">La persona es Sophie</p>
  <p *ngSwitchCase="'Monica '">La persona es Monica</p>
  <p *ngSwitchDefault="''">No hay nombres</p>
</div>

<!-- <p *ngIf="person.name === 'Brisa'">La persona es Brisa</p>
<p *ngIf="person.name === 'Sophie'">La persona es Sophie</p>
<p *ngIf="person.name === 'Monica'">La persona es Monica</p> -->

<hr>
<h1>*ngFor Objects</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.img" alt="">
    <p>{{ product.name }}</p>
    <p>Price: $ {{ product.price }}</p>
  </div>
</div>

<hr>
<h1>*ngFor</h1>
<input type="text" [(ngModel)]="newEmoji">
<button (click)="addEmojiBtn()">Add emoji-food</button>
<ul>
  <li *ngIf="emojis.length === 0">Sin emojis</li>
  <li *ngFor="let emoji of emojis; index as i">
    {{ i }} {{ emoji }}
    <button (click)="deleteEmojiBtn(i)">Delete</button>
  </li>

</ul>

<hr>
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name">
<p *ngIf="person.name === 'Izamar'">Soy Izamar</p>
<p *ngIf="person.name === 'Bricio' && person.age === 31; else elseBlock">Soy Bricio</p>
<ng-template #elseBlock>
  <p>Bloque de else</p>
</ng-template>

<hr>
<h1>NgModel</h1>
<p>Nombre {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p>Valid: {{ nameInput.valid }}</p>
<p>Age: {{ person.age }}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age">
<p>Valid: {{ ageInput.valid }}</p>
<hr>
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleBtn()">Toggle Button</button>
<p>Edad {{ person.age }}</p>
<button (click)="agePlusBtn()">Age++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, magni natus! Quaerat cum nesciunt enim, sint,
    architecto quisquam minus illo accusamus pariatur temporibus, aspernatur id officiis! Dolores ipsa aliquam
    provident.</p>
</div>
<input type="text" [value]="person.name" (keyup)="changeName($event)">

<hr>
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="name">
<progress max="100" [value]="age"></progress>
<img width="150px" [src]="image" alt="">

<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img width="150px" [src]="person.avatar" alt="">

<hr>
<h1>Hola Familia!</h1>
<h2>{{'Hola Familia '.repeat(5)}}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }} años</h3>
<img width="100px" src="{{ image }}" alt="random image">